import groovy.json.JsonSlurper
def JsonSlurper = new JsonSlurper()
azure_config = JsonSlurper.parse(new File("./credentials.json"))

executor {
  $local {
      cpus = 4
      memory = '16 GB'
  }
}

profiles {
    standard {
        process.executor = 'local'
        azure {
            storage {
                accountName = azure_config["storageAccountName"]
                accountKey = azure_config["storageAccountKey"]
            }
        }
    }
    test {
        params.reads = 'az://scgenomics/test_data/*/*_{R1,R2}_*.fastq.gz'
        params.outdir = 'az://scgenomics/test_reports'
        params.bowtie2_reference_index = "az://scgenomics/bt2_index.tar.gz"
        params.kraken2_db = "az://scgenomics/k2_standard_20210517.tar.gz"
        params.cpus = 16
        process.executor = 'azurebatch'
        workDir = 'az://scgenomics/work_test/'
        azure {
            storage {
                accountName = azure_config["storageAccountName"]
                accountKey = azure_config["storageAccountKey"]
            }
            batch {
                location = 'uksouth'
                accountName = azure_config["batchAccountName"]
                accountKey = azure_config["batchAccountKey"]
                autoPoolMode = true
                pools {
                    auto {
                        vmType = 'Standard_D16_v3'
                        maxVmCount = 8
                        autoScale = true
                    }
                }
            }
        }
    }
    production {
        params.reads = 'az://scgenomics/data/*/*_{R1,R2}_*.fastq.gz'
        params.outdir = 'az://scgenomics/reports_13042022'
        params.bowtie2_reference_index = "az://scgenomics/bt2_index.tar.gz"
        params.kraken2_db = "az://scgenomics/k2_standard_20210517.tar.gz"
        params.cpus = 16
        process.executor = 'azurebatch'
        workDir = 'az://scgenomics/work_prod/'
        azure {
            storage {
                accountName = azure_config["storageAccountName"]
                accountKey = azure_config["storageAccountKey"]
            }
            batch {
                location = 'uksouth'
                accountName = azure_config["batchAccountName"]
                accountKey = azure_config["batchAccountKey"]
                autoPoolMode = true
                pools {
                    auto {
                        vmType = 'Standard_D16_v3'
                        maxVmCount = 8
                        autoScale = true
                    }
                }
            }
        }
    }
}

docker {
    enabled = true
}

dag {
    enabled = true
    file = 'pipeline_dag.html'
}
