executor {
  $local {
      cpus = 4
      memory = '16 GB'
  }
}

profiles {

    standard {
        process.executor = 'local'
    }


    gls {
        params.reads = 'gs://scgenomics/data/*/*_{R1,R2}_*.fastq.gz'
        params.outdir = 'gs://scgenomics/reports/'
        process.executor = 'google-lifesciences'
        workDir = 'gs://scgenomics/work'
        google.location = 'europe-west2'
        google.region  = 'europe-west2'
        google.project = 'nextflow-321415'
    }
}

docker {
    enabled = true
}

dag {
    enabled = false
    file = 'pipeline_dag.html'
}
